.magic {
  border-radius: 500px;
  background-color: rgb(220, 162, 0);
  box-shadow: 0 0 60px 30px rgb(108, 3, 3), 0 0 100px 60px rgb(189, 88, 0),
    0 0 140px 90px rgb(253, 114, 255);
}

.magic2 {
  background-color: rgb(220, 162, 0);
  box-shadow: 0 0 60px 30px rgb(255, 255, 255), 0 0 100px 60px rgb(0, 198, 247),
    0 0 140px 90px rgb(154, 255, 173);
}
